body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	div#root {
		div.App {
			p {
				color: #777;
			}
		}
	}

	div#root {
		div.App {
			div {
				p {
					color: yellow;
				}
			}
		}
	}


	h1 {
		a {
			color: rgb(209, 168, 85);
			text-decoration: none;

			img {
				width: 6rem;
			}
		}

	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageUseToggle {
		.positive {
			color: lightgreen;
		}
		.negative {
			color: red;
		}

		.toggleArea {
			margin-bottom: .5rem;
		}
	}
}